<%= simple_form_for [@project || @room.project, @room] do |f| %>
  <%= f.error_notification %>

  <div class="row g-3">
    <div class="col-12">
      <%= f.input :name, label: "Nom de la pièce" %>
    </div>
    <div class="col-md-4">
      <%= f.input :surface_sqm, label: "Surface (m²)" %>
    </div>
    <div class="col-md-4">
      <%= f.input :perimeter_lm, label: "Périmètre (ml)" %>
    </div>
    <div class="col-md-4">
      <%= f.input :wall_height_m, label: "Hauteur sous plafond (m)" %>
    </div>
  </div>

  <div class="mt-3">
    <%= f.button :submit, class: "btn btn-primary" %>
    <%= link_to "Annuler", (@project || @room.project), class: "btn btn-outline-secondary ms-2" %>
  </div>
<% end %>
